body {
  font-family: arial, sans-serif;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #ffffff;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(246, 187, 187) 0%,
    rgb(249, 219, 217) 90%
  );
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.temperature {
  color: rgb(189, 149, 177);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
  color: rgb(189, 149, 177);
}

.search-form {
  margin-bottom: 20px;
}

p {
  text-align: center;
  color: rgb(220, 129, 164);
}
